body {
    background-color:wheat ;
    font: normal 15pt arial;
    color: indigo;
}

header {
    color:indigo;
    text-align: center;
}

section {
    background-color: bisque;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(76, 0, 130, 0.529);
}

div {
    text-align: center;
    padding: 5px;
}

footer {
    color:indigo;
    text-align: center;
    font-style: italic;
    font: normal 10pt arial;
}

img {
    border-radius: 50%;
    padding: 10px;
    
}